/* Imposta l'html e il body per occupare sempre tutta la pagina */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*Personalizzazione*/
.body-container {
    flex: 1;
}

/* Varianti di colore per ambiente */
body.Development {
    background-color: white !important;
    /*    background-color: white !important;*/
}

body.Staging {
    background-color: lightcoral !important;
}

body.Production {
    background-color: white !important;
}

footer {
    background-color: #f8f9fa; /* Sfondo leggero */
    padding: 10px 0;
    text-align: left;
}

.uniform-img {
    width: 50%; /* Adatta la larghezza al contenitore */
    height: 200px; /* Altezza fissa per tutte le immagini */
    object-fit: cover; /* Ritaglia l'immagine mantenendo le proporzioni */
}

.custom-img {
    width: 40%; /* Imposta la larghezza desiderata */
    height: auto; /* Mantieni la proporzione originale dell'immagine */
}

.navbar {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
}

.navbar-brand {
    font-weight: 600;
}

.nav-link {
    margin-right: 1rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.25rem;
}

/* Rimuove le freccette su Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Rimuove le freccette su Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.info-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.info-label {
    flex: 0 0 250px;
    font-weight: 600;
    color: #2c3e50;
    white-space: nowrap;
}

.info-value {
    flex: 1 1 auto;
    color: #343a40;
}
textarea {
    overflow-y: hidden;
}
.label-highlight {
    background-color: #f8f9fa; /* grigio chiaro bootstrap */
    padding: 0.25rem 0.5rem ;
    border-radius: 0.25rem;
    font-weight: 500;
}