<div class="card">
    <div class="card-header">
        <a data-bs-toggle="collapse" href="#sezione1" role="button">Visualizza sezione 1</a>
    </div>
    <div id="sezione1" class="collapse">
        <div class="card-body">Contenuti della sezione 1</div>
    </div>
</div>
