@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_LayoutHomeManutenzione.cshtml";
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
}

<div style="margin-left:0px; background-color:#ffffff; border: 1px solid #ccc; border-radius:15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">

    <h1 style="padding-top:25px; text-align: center;">
        Monitoraggio Rete PAC 25-27
    </h1>

    <div class="d-flex justify-content-center align-items-center gap-4" style="margin: 20px;padding-bottom:20px;">
        <img src="~/Images/Logo-RetePAC_verticale_trasparente_web.png" style="width: 180px; height: auto;" />
        <img src="~/Images/logo_Masaf_Vettoriale_new3.png" style="width: 140px; height: auto;" />
        <img src="~/Images/IT_fundedbyEU_VERTICAL_RGB_POS.png" style="width: 100px; height: auto;" />
        <img src="~/Images/PSP_trasparente_piccolo.png" style="width: 280px; height: auto;" />
    </div>
</div>

<h4 style="text-align:center; padding-top:25px; padding-left:0px;">
    Realizzato da ISMEA nell'ambito del Programma Rete PAC
    <br />
    Piano nazionale di azione 2025 - 2027
    <br />
    Progetto IS01.06 "Gestione Rete e interfaccia con Rete europea e altre reti"
</h4>

