<button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#dettagliPanel">Dettagli</button>

<div class="offcanvas offcanvas-end" id="dettagliPanel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Dettagli</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        Qui puoi mostrare dati dettagliati o un form.
    </div>
</div>
