@model MonitoraggioRetePAC25_27.Models.Output

@{
    ViewData["Title"] = "Nuovo Output";
}

<h1>OUTPUT</h1>
<h4>Creazione</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NuovoOutput">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdOutput" />
            <input type="hidden" asp-for="IdProgetto" />

            <div class="form-group">
                <label asp-for="CodPriorita" class="control-label"></label>
                <select asp-for="CodPriorita" class="form-select">
                    <option value="">-- Seleziona --</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                </select>
                <span asp-validation-for="CodPriorita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObiettivoRete" class="control-label"></label>
                <select asp-for="ObiettivoRete" class="form-select">
                    <option value="">-- Seleziona --</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="06">06</option>
                </select>
                <span asp-validation-for="ObiettivoRete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RisultatiAttesi" class="control-label"></label>
                <textarea asp-for="RisultatiAttesi" class="form-control"></textarea>
                <span asp-validation-for="RisultatiAttesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTema" class="control-select"></label>
                <select asp-for="CodTema" class="form-select" asp-items="ViewBag.CodTema"></select>
                <span asp-validation-for="CodTema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTipoOutput" class="control-label"></label>
                <select asp-for="CodTipoOutput" class="form-select" asp-items="ViewBag.CodTipoOutput"></select>
                <span asp-validation-for="CodTipoOutput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodOutputCompleto" class="control-label"></label>
                <input asp-for="CodOutputCompleto" class="form-control" />
                <span asp-validation-for="CodOutputCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputDescrizione" class="control-label"></label>
                <textarea asp-for="OutputDescrizione" class="form-control"></textarea>
                <span asp-validation-for="OutputDescrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputProgrammato" class="control-label"></label>
                <textarea asp-for="OutputProgrammato" class="form-control"></textarea>
                <span asp-validation-for="OutputProgrammato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputRealizzato" class="control-label"></label>
                <textarea asp-for="OutputRealizzato" class="form-control"></textarea>
                <span asp-validation-for="OutputRealizzato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputNonProgrammato" class="control-label"></label>
                <textarea asp-for="OutputNonProgrammato" class="form-control"></textarea>
                <span asp-validation-for="OutputNonProgrammato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOutputProgrammato" class="control-label"></label>
                <input asp-for="NumOutputProgrammato" class="form-control" />
                <span asp-validation-for="NumOutputProgrammato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOutputRealizzato" class="control-label"></label>
                <input asp-for="NumOutputRealizzato" class="form-control" />
                <span asp-validation-for="NumOutputRealizzato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOutputNonProgrammato" class="control-label"></label>
                <input asp-for="NumOutputNonProgrammato" class="form-control" />
                <span asp-validation-for="NumOutputNonProgrammato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputAllegato" class="control-label"></label>
                <input asp-for="OutputAllegato" class="form-control" />
                <span asp-validation-for="OutputAllegato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputLink" class="control-label"></label>
                <textarea asp-for="OutputLink" class="form-control"></textarea>
                <span asp-validation-for="OutputLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteOutputResponsabileEnte" class="control-label"></label>
                <textarea asp-for="NoteOutputResponsabileEnte" class="form-control"></textarea>
                <span asp-validation-for="NoteOutputResponsabileEnte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParereResponsabileMinistero" class="control-label d-block"></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="ParereResponsabileMinistero" value="1" />
                    <label class="form-check-label">Conforme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="ParereResponsabileMinistero" value="2" />
                    <label class="form-check-label">Parzialmente conforme</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="ParereResponsabileMinistero" value="3" />
                    <label class="form-check-label">Non conforme</label>
                </div>
                <span asp-validation-for="ParereResponsabileMinistero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivazioneResponsabileMinistero" class="control-label"></label>
                <textarea asp-for="MotivazioneResponsabileMinistero" class="form-control"></textarea>
                <span asp-validation-for="MotivazioneResponsabileMinistero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comunicazione" class="control-label d-block"></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Comunicazione" value="1" />
                    <label class="form-check-label">SI</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="Comunicazione" value="2" />
                    <label class="form-check-label">NO</label>
                </div>
                <span asp-validation-for="Comunicazione" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Registra Output" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ElencoOutput" asp-controller="Output">Torna gli output</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
